.App {
    text-align: center;
  }
  
  .App-logo {
    width: 30%;
    min-width: 300px;
    pointer-events: none;
  }

  .busqueda-input {
    width: 90%;
    min-width: 345px;
    align-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }


  
  .vertical-center {
    margin: 0;
    top: 50%;
    -ms-transform: translateY(50%);
    transform: translateY(50%);
  }
  
  .App-header {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  